@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;900&display=swap");

:root {
  --cinza-escuro: #3d3d3d;
  --cinza-medio: #949494;
  --cinza-claro: #e2e2e2;
  --line: #f0e0c5;
  --sun: #f39c12;
  --red-normal: #8a1b24;
  --red-escuro: #491118;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: background 0.2s linear;
  margin: 0;
  padding: 0;
  color: var(--cinza-escuro);
  font-family: "Inter", sans-serif;
}

.title,
.frase {
  text-align: center;
  margin: 4px;
}

body.dark {
  background: var(--red-escuro);
  color: var(--line);
}

.font-light {
  color: var(--line);
}

.toggle-container {
  justify-content: end;
  display: flex;
  align-items: flex-start;
  position: relative;
  bottom: 236px;
  left: 71px;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.botao-primario {
  font-weight: 900;
  font-size: 16px;
  color: white;
  background-color: var(--red-normal);
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  margin-top: 16px;
  height: 48px;
  cursor: pointer;
  text-transform: lowercase;
}

.botao-disable {
  font-weight: 900;
  font-size: 16px;
  color: white;
  background-color: var(--cinza-escuro);
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  margin-top: 16px;
  height: 48px;
  cursor: pointer;
  text-transform: lowercase;
opacity: .3;
}
.content-1 {
  width: 40%;
  padding: 100px;
}

.content-2 {
  width: 60%;
  padding: 100px;
  background-image: url(./assets/home-img.png);
  height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  justify-content: end;
}
.content-2-mobile {
  display: none;
}
.destaque {
  color: white;
  font-size: 4.5em;
  text-align: right;
  display: flex;
  text-transform: uppercase;
  justify-content: end;
}

/*              toggle-theme              */
.checkbox {
  opacity: 0;
}

.label {
  background-color: var(--red-normal);
  border-radius: 50px;
  cursor: pointer;
  padding: 5px;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .ball {
  background-color: var(--red-escuro);
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  height: 20px;
  width: 20px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(22px);
}

.fa-moon {
  color: var(--line);
  position: absolute;
  top: 4px;
  left: 27px;
}

.fa-sun {
  color: var(--line);
  position: absolute;
  content: "\f185";
  left: 4px;
  top: 4px;
}

/*              form              */
.container-form {
  font-size: 0.8rem;
}

label {
  color: var(--cinza-escuro);
}

.container-form {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.label-container-form {
  margin-bottom: 0.2rem;
}

.nome-error, .email-error, .cep-error, .homem-error, .mulher-error, .crianca-error, .bebida-error{
  font-size: 0.7rem;
  position: relative;
  bottom: 14px;
  color: var(--red-normal);
  opacity: 0;
}

.container-form input,
textarea,
select {
  background-color: transparent;
  border: solid 1px var(--line);
  border-radius: 4px;
  width: 100%;
  margin-bottom: 1rem;
  padding: 8px;
  color: var(--red-normal);
  font-weight: 700;
}

.input-dark {
  color: var(--line) !important;
}

.container-form input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border: solid 1px var(--red-normal);
}

textarea {
  height: 100px;
}

select {
  width: 100px;
  margin-right: 1rem;
  height: 1.8rem;
}

.container-checkbox {
  display: flex;
  width: 400px;
  align-items: center;
}

#concordo {
  width: 1rem;
  margin-right: 0.5rem;
}

.checkbox-btn {
  padding-bottom: 1rem;
  font-size: 0.8rem;
}

@media (max-width: 1350px) {
  .destaque {
    font-size: 4em;
  }
}

@media (max-width: 1250px) {
  .destaque {
    font-size: 3.5em;
  }
}

@media (max-width: 1126px) {
  .home-container {
    display: inline-flex;
    flex-direction: column;
  }
  .content-1 {
    width: 100%;
  }
  .pessoas-container {
    width: 50%;
  }
  .toggle-container {
    width: 100%;
  }

  .content-2 {
    display: none !important;
  }
  .destaque-mobile {
    font-size: 3em;
    color: white;
    text-transform: uppercase;
    text-align: right;
  }
  .content-2-mobile {
    display: flex;
    padding: 50px;
    background-image: url(./assets/home-img.png);
    background-size: cover;
    background-position: center;
  }
  .toggle-container {
    bottom: 72px;
    left: 51px;
  }
}
@media (max-width: 510px) {
  .destaque-mobile {
    font-size: 2em;
  }
  .pessoas-container {
    padding: 50px 0;
  }
  .toggle-container {
    bottom: 27px;
    left: 27px;
  }
}

/* quantidade-pessoas */
.pessoas-container {
  display: none;
}
